.assign {
    margin: auto;
    width: 70%;
    padding: 20px 0px;
}

.assignHeading {
    text-align: center;
    font-size: xx-large;
}

.btnAssign {
    text-align:end; 
}

.btn1 {
    background-color: #f0ad4e;
    color: black;
    width: max-content;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px;
    border-color: #bd7614;
}

:hover.btn1 {
    background-color: #c98b34;
}

.table {
    display: flex;
    height: max-content;
    justify-content: center;
    text-align:left;
}

.gr1 {
    width: 800px;
}

.edit {
    background-color: #94d594;
    border: 0px solid;
    border-radius: 5px;
    height: 25px;
    width: 45px;
    cursor: pointer;
}

:hover.edit {
    background-color: #56c756;
}

.del {
    background-color: #d75e5e;
    border: 0px solid;
    border-radius: 5px;
    height: 25px;
    width: 55px;
    cursor: pointer;
}

:hover.del {
    background-color: #ff4500;
}