.rate {
    margin: auto;
    width: 70%;
    padding: 20px 0px;
}

.rateHeading {
    text-align: center;
    font-size: 50px;
}

.btnRate {
    text-align:end;
}

.btn1 {
    height: 50px;
    cursor: pointer;
}

.table {
    width: 100%;
    text-align: left;
}

.gr1 {
    width: 100%;
}

.del {
    margin-left: 25px;
    height: 32px;
    cursor: pointer;
}

td {
    padding: 0 10px;
}

th {
    padding: 0 10px;
}

.head {
    height: 26px;
    cursor: pointer;
}