<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Invoice Application</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="main navbar navbar-expand-sm">
            <div class="container">
                <a class="headingmain navbar-brand" asp-area="" asp-controller="Party" asp-action="GetAllParty">Invoice Application</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="list navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="links nav-link" asp-controller="Party" asp-action="GetAllParty">Party</a></li>
                        <li class="nav-item"><a class="links nav-link" asp-controller="Product" asp-action="GetAllProduct">Product</a></li>
                        <li class="nav-item"><a class="links nav-link" asp-controller="AssignParty" asp-action="GetAllAssignParty">Assign Party</a></li>
                        <li class="nav-item"><a class="links nav-link" asp-controller="ProductRate" asp-action="GetAllProductRate">Product Rate</a></li>
                        <li class="nav-item"><a class="links nav-link" asp-controller="Invoice" asp-action="Display">Invoice</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
