.addProduct {
    margin: auto;
    width: 70%;
    padding: 20px 0px;
}

.addProductHeading {
    text-align: center;
    font-size: 50px;
}

.addProductBody {
    justify-content: center;
    margin: 40px auto 0px auto;
}

tr {
    display: flex;
}

.name {
    padding: 0px 40px;
    font-size: 26px;
}

.tb {
    height: 25px;
    width:250px;
}

.vali {
    display: block;
    color: red;
    font-size: small;
}

.addProductBtn {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin: 40px auto;
}

.saveProductBtn {
    height: 35px;
    background-color: #76bcf3;
    border-radius: 100px;
    color: #0008ff;
    cursor: pointer;
    padding: 7px 20px;
    border: 0;
    font-size: 15px;
}

:hover.saveProductBtn {
    box-shadow: rgb(79 173 253 / 20%) 0 -25px 18px -14px inset, rgb(5 59 161 / 15%) 0 1px 2px, rgb(52 144 223 / 15%) 0 2px 4px, rgb(27 119 233 / 15%) 0 4px 8px, rgb(46 155 231 / 15%) 0 8px 16px, rgb(27 101 193 / 15%) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.cancelProductBtn {
    padding: 7px 20px;
    height: 35px;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    font-size: 15px;
    background-color: #9FA8DA;
    color: purple;
}

:hover.cancelProductBtn {
    box-shadow: rgb(174 121 243 / 20%) 0 -25px 18px -14px inset, rgb(157 38 219 / 15%) 0 1px 2px, rgb(202 124 243 / 15%) 0 2px 4px, rgb(179 115 237 / 15%) 0 4px 8px, rgb(197 128 233 / 15%) 0 8px 16px, rgb(178 81 239 / 15%) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.success {
    display: flex;
    justify-content: center;
    font-size: large;
    margin: 30px auto auto auto;
}