@model AssignPartyModel
@inject Exercise_3.Repositorys.IProductRepository productRepo
@inject Exercise_3.Repositorys.IPartyRepository partyRepo
@{
    ViewData["Title"] = "AddAssignParty";
    string action;
}

<section class="jumbotron text-center">
    <div class="container">
        @if (ViewBag.id > 0)
        {
            action = "EditAssignParty";
            <h1 class="heading">Update Assign</h1>
            //ViewBag.disable = true;
        }
        else
        {
            action = "AddAssignParty";
            <h1 class="heading">Add Assign</h1>
        }

        @if (ViewBag.Success == 1)
        {
            if (ViewBag.id == 0)
            {
                <div class="successmsg alert alert-success" role="alert">
                    Data Added Successfully
                </div>
            }
            else
            {
                <div class="successmsg alert alert-success" role="alert">
                    Data Updated Successfully
                </div>
            }
        }
        else if (ViewBag.Success == 2)
        {
            <div class="successmsg alert alert-danger" role="alert">
                Data already exists..
            </div>
        }

        <form method="post" asp-controller="AssignParty" asp-action="@action">
            <div class="line form-group row">
                <label asp-for="partyID" class="line1 col-sm-2" style="font-size:x-large;"></label>
                <div class="line2 col-sm-10">
                    <select id="partylist" asp-for="partyID" class="form-control" asp-items="(await partyRepo.GetAllParty())
                                                                .Select(x => new SelectListItem() { Text = x.PartyName, Value = x.ID.ToString()})">
                        <option value="">Please select Party</option>
                    </select>
                    <div class="vali"><span asp-validation-for="partyID" class="text-danger"></span></div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="productID" class="line1 col-sm-2" style="font-size:x-large"></label>
                <div class="line2 col-sm-10">
                    <select id="productlist" asp-for="productID" class="form-control" asp-items="(await productRepo.GetAllProduct())
                                             .Select(x => new SelectListItem() { Text = x.ProductName, Value = x.ID.ToString() })" disabled>
                        <option value="">Please select Product</option>
                    </select>
                    <div class="vali"><span asp-validation-for="productID" class="text-danger"></span></div>
                </div>
            </div>

            <div>
                @if (action == "AddAssignParty")
                {
                    <input type="submit" value="Save" class="lastbtn button btn btn-info" />
                }
                @if (action == "EditAssignParty")
                {
                    <input type="submit" value="Update" class="lastbtn button btn btn-info" />
                }
                <a asp-controller="AssignParty" asp-action="GetAllAssignParty" class="lastbtn button btn btn-info">Cancel</a>
            </div>
        </form>
    </div>
</section>

<script src="~/lib/jquery/jquery.js"></script>

<script>
    $("#partylist").change(function () {
        //var partyID = parseInt($(this).val());
        var partyID = $('#partylist option:selected').val();
        if (!isNaN(partyID)) {
            var productlist = $('#productlist');
            productlist.removeAttr("disabled")

            //debugger;
            $.ajax({
                url: 'https://localhost:44388/AssignParty/getProductsNotAssigned',
                type: 'GET',
                //dataType: 'json',
                data: { partyID: partyID },

                success: function (d) {
                    //debugger;
                    productlist.empty(); // Clear the please wait
                    productlist.append($("<option></option>").val('').html('Please select Product'));
                    $.each(d.value, function (i, product) {
                        productlist.append($("<option></option>").val(product.id).html(product.productName));
                    });
                },
                error: function () {
                    alert('Error!');
                }
            });
        }
    });
</script>

@if (ViewBag.id > 0)
{
    <script>
        $("#partylist").ready(function () {
            //var partyID = parseInt($(this).val());
            var partyID = $('#partylist option:selected').val();
            if (!isNaN(partyID)) {
                var productlist = $('#productlist');
                productlist.removeAttr("disabled")
            }
        });
    </script>
}